html,body{
   position:relative; width: 100%;height:600px;margin:0% auto;
}

    .headBox{
        position: absolute;
        background-color: #37a2fe;
        width: 100%;
        height: 65px;
        z-index: 999;
        overflow:hidden;
        min-width:1350px;
        box-shadow: 1px 1px 5px #333333; 

    }
   .titlePic{
        
        position: relative;
        top: 12px;
        width: 40px;
        height: 40px;
        
    }
    .title{
        position:relative;
        margin:0px 12%;
        font-family: "微软雅黑";
        font-size: 20px;
        width: 350px;
        height: 65px;
        color: white;
    }
      .footTitle{
        position:relative;
        margin:20px 40%;
        font-family: "微软雅黑";
        font-size: 15px;
        width: 350px;
        height: 65px;
        color: white;
       
    }
    .topHead {
        position: relative;
         font-family: "微软雅黑";
        left: 80%;
        top: 22px;
        font-size: 15px;
        width: 200px;
        z-index: 1000;
}
.sd{
     position: relative;
     width: 35px;
     height: 35px;  
     top: -5px;
     left: 84%;
     border-radius: 50%;
    -webkit-transition: all linear 0.30s;
    -moz-transition: all linear 0.30s;
    transition: all linear 0.30s;
    z-index: 1001;
    background-image: url('../images/header_logo.svg');
}
 .sd:hover{

      box-shadow:1px 1px 2px #333333  inset; 
 }
   
     

