body > header {
  background-color: #37a2fe;
  /* height: 65px; */
  box-shadow: 1px 5px 12px rgba(0, 0, 0, 0.5);
  /* position: fixed; */
  z-index: 8;
  /* min-width: 1280px; */
  width: 100%;
  top: 0;

  /* 管理系统重置 */
  height: 50px;
}

header > nav {
  height: 50px;
  color: white;
  clear: both;

  margin: 0 120px 0 170px;
}

.logo {
  padding: 10px;
  padding-left: 18px;
  padding-right: 0;
}

.headerInfo {
  position: relative;
  padding: 13px 0 14px 19px;
  font-size: 16px;
}

.topButtons {
  /* position: absolute; */
  padding-right: 20px;
  right: 1px;
  top: 3px;
}

.logIn {
  float: left;
  background-color: #327aa7;
  width: 80px;
  height: 30px;
  border-width: 1px;
  border-color: rgba(0, 0, 0, 0);
  border-radius: 10px;
  text-align: center;
  color: white;
  padding-top: 5px;
  margin-top: 7px;
  font-size: 16px;
}

.signUp {
  float: left;
  background-color: #327aa7;
  width: 80px;
  height: 30px;
  border-width: 1px;
  border-color: rgba(0, 0, 0, 0);
  border-radius: 10px;
  text-align: center;
  color: white;
  padding-top: 5px;
  margin-top: 7px;
  margin-left: 15px;
  font-size: 16px;
}

.logIn:hover, .signUp:hover {
  background-color: #30617f;
}

/* 内部系统
---------------------------------------------------------------------------- */

.home {
  display: inline-block;

  height: 100%;
}

/* .home::after {
  content: "|";
  height: 0;
  visibility: hidden;
  display: block;
  clear: both;
} */

.icon {
  display: inline-block;
  width: 40px;
  padding: 5px 0;
}

.logo-text {
  display: inline-block;
  position: relative;
  top: -18px;
  left: 15px;

  font-family: SimHei;
  font-size: 18px;
  color: #fff;
}

.info {
  float: right;
  display: block;

  height: 100%;
}

.username {
  position: relative;
  top: 15px;
  right: 10px;

  color: #333;
}

.avatar {
  float: right;

  height: 40px;
  width: 40px;
  padding: 5px;
  margin: 5px;
}

.avatar-img {
  height: 100%;
  width: 100%;
  border: 0.1px black solid;

  background-color: #abc;   
  border-radius: 20px;
}

.avatar-img:hover {
  box-shadow: inset 1px 2px 3px 0px
  rgba(0, 0, 0, 0.3);
}
