/* 浮动 */
.z { float: left !important; }
.y { float: right !important; }

/* 清除浮动 */
.cl:before, .cl:after{ content:" "; display: table }
.cl:after { clear: both }
.cl { *zoom: 1 }

/* 通用容器，定义页面宽度 具有五个级别 */
.wps { width: 205px; margin: 0 auto; }
.wpu { width: 580px; margin: 0 auto; }
.wpn { width: 1020px; margin: 0 auto; }  	/* 4 列 * 300 */
.wpm { width: 1480px; margin: 0 auto; }  	/* 5 列 * 300 */
.wpw { width: 1780px; margin: 0 auto; } 	/* 6 列 * 300 */
.wpv { width: 0px; margin: 0 auto; }
.wpx { width: 0px; margin: 0 auto; }

/* 外边距样式，作用于元素的上下外边距，上下各具有 n, m, w 三个级别 */
.mtn { margin-top: 5px !important; }
.mtm { margin-top: 10px !important; }
.mtw { margin-top: 20px !important; }
.mtv { margin-top: 30px !important; }

.mbn { margin-bottom: 5px !important; }
.mbm { margin-bottom: 10px !important; }
.mbw { margin-bottom: 20px !important; }
.mbv { margin-bottom: 30px !important; }

.mrn { margin-right: 5px !important; }
.mrm { margin-right: 10px !important; }
.mrw { margin-right: 20px !important; }
.mrv { margin-right: 30px !important; }

.mln { margin-left: 5px !important; }
.mlm { margin-left: 10px !important; }
.mlw { margin-left: 20px !important; }
.mlv { margin-left: 30px !important; }

.mtbn { margin: 5px 0 !important; }
.mtbm { margin: 10px 0 !important; }
.mtbw { margin: 20px 0 !important; }
.mtbv { margin: 30px 0 !important; }

.mlrn { margin: 0 5px !important; }
.mlrm { margin: 0 10px !important; }
.mlrw { margin: 0 20px !important; }
.mlrv { margin: 0 30px !important; }


/* 内边距样式，作用于元素的上下内边距，上下各具有 n, m, w 三个级别 */
.ptn { padding-top: 5px !important; }
.ptm { padding-top: 10px !important; }
.ptw { padding-top: 20px !important; }
.ptv { padding-top: 30px !important; }

.prn { padding-right: 5px !important; }
.prm { padding-right: 10px !important; }
.prw { padding-right: 20px !important; }
.prv { padding-right: 30px !important; }

.pln { padding-left: 5px !important; }
.plm { padding-left: 10px !important; }
.plw { padding-left: 20px !important; }
.plv { padding-left: 30px !important; }

.pbn { padding-bottom: 5px !important; }
.pbm { padding-bottom: 10px !important; }
.pbw { padding-bottom: 20px !important; }
.pbv { padding-bottom: 30px !important; }

.ptbn { padding: 5px 0 !important; }
.ptbm { padding: 10px 0 !important; }
.ptbw { padding: 20px 0 !important; }
.ptbv { padding: 30px 0 !important; }

.plrn { padding: 0 5px !important; }
.plrm { padding: 0 10px !important; }
.plrw { padding: 0 20px !important; }
.plrv { padding: 0 30px !important; }

/* ==========================================================================
   my CSS
   ========================================================================== */

* {
  padding: 0;
  margin: 0;
  /*background-color: #e4e8ec;*/
}

html {
  height: 1040px;
  min-width: 1280px;

  margin: 0 auto;
	font-family: "Microsoft Yahei", "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 12px;
	line-height: 1.5;
	color: #34495e;   /*黑蓝色*/
	-webkit-font-smoothing: antialiased;
  	-moz-osx-font-smoothing: grayscale;
  	-moz-font-feature-settings: "liga","kern";
}

body {
  background-color: #e4e8ec;
}

a, a:active, a:link, a:hover, a:visited {
  text-decoration: none;
  color: white;
}

.ta {
  text-align: center;
}

ul, ol {
  list-style:none;
}

.wtbg {
  background-color: rgba(255, 255, 255, 1);
}

input {
  height: 40px;
  width: 250px;
  font-size: 12px;
  background-color: #e4e8ec;
  color: #999;
  border-radius: 5px;
  border: 0.01px solid #e4e8ec;
  cursor: auto;
  margin-bottom: 15px;
  text-indent: 5px;
  outline: none;
  transition: box-shadow 0.2s;
}

input[type="button"], input[type="submit"] {
  background-color: #37a2fe;
  color: #FFF;
  cursor: pointer;
  text-indent: 0;
}

input:hover {
  box-shadow: 0 3px 4px rgba(0, 0, 0, 0.3);
}

input:focus {
  box-shadow: 0 3px 4px rgba(0, 0, 0, 0.3);
  border: 0.01px solid #e4e8ec;
  transition: box-shadow 0.2s;
}
