/* =General
-----------------------------------------------------------------------------*/

*,
:after,
:before {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

a {
  text-decoration: none;
  color: #fff;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

.pointer {
  cursor: pointer;
}

/* =Typography
-----------------------------------------------------------------------------*/

body {
  display: flex;
  flex-direction: column;
  min-width: 1280px;
  margin: 0;
  padding: 0;
}

.main-header {
  flex: 0 1 auto;
}

.main-content {
  flex: 1 0 auto;
  display: flex;
}

.main-footer {
  flex: 0 1 auto;
  z-index: 8;
}

.cell-20 {
  flex: 20;
  display: flex;
}

.cell-108 {
  flex: 108;
  display: flex;
}

/* =Main Nav
-----------------------------------------------------------------------------*/

.navigation {
  width: 100%;
  padding: 90px 0;
  background: url(../images/left.png);
  box-shadow: 1px 1px 4px 0px rgba(0, 0, 0, 0.5);
  z-index: 4;
  /* filter: blur(3px); */
  /*opacity: 0.8;*/
}

.sau-admin {
  width: 100%;
  text-align: center;
}

.function-button {
  font-size: 18px;
  padding: .75rem;
}

.function-button:hover {
  background: #8fc9fb;
}

.function-button+.function-button {
  margin-top: 10px;
}

.current-function {
  background: #59b0fb;
}

/* =Sub Nav
-----------------------------------------------------------------------------*/

.message-list {
  flex: 33;
  display: flex;
  flex-direction: column;
  width: 100%;
  background: #e4e8ec;
  box-shadow: 1px 1px 4px 0px rgba(0, 0, 0, 0.4);
  z-index: 2;
}

.cell-function-bar {
  flex: 0 1;
  min-height: 100px;
  max-height: 100px;
}

.function-bar {
  display: inline-block;
  height: 100%;
  width: 100%;
  padding: 20px 0 0 10px;
}

.cell-masonry {
  flex: 1 0;
}

/* search bar position
****************************************/

.grid-search-bar {
  display: flex;
  position: relative;
  height: 40px;
}

.cell-search-bar {
  flex: 1 0 auto;
}

.cell-refresh-bar {
  flex: 0 1 auto;
}

.function-button a {
  color: black;
}

.search-button {
  position: absolute;
  right: 40px;
}

.add-button,
.delete-button {
  float: right;
}

/* search bar display
****************************************/

.search-bar {
  display: inline-block;
  width: 100%;
  height: 40px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #37a2fe;
  background: #dbdcdd;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

::-webkit-input-placeholder {
  /* WebKit browsers */
  color: #37a2fe;
}

:-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: #37a2fe;
}

::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: #37a2fe;
}

:-ms-input-placeholder {
  /* Internet Explorer 10+ */
  color: #37a2fe;
}

[data-button-role] {
  display: inline-block;
  height: 40px;
  width: 40px;
  padding: 5px;
}

[data-button-role]:hover {
  background: #8fc9fb;
}

.function-name {
  /* display: inline-block; */
  float: left;
  padding: 6px;
}

/* masonry
****************************************/

.masonry {
  overflow-y: scroll;
}

.message-item {
  display: flex;
  height: 50px;
  background: #fff;
}

.message-item:hover {
  background: #8fc9fb;
}

.current-item {
  background: #59b0fb;
}

.message-item+.message-item {
  margin-top: 10px;
}

.message-item * {
  display: inline-block;
}

.cell-unread {
  flex: 0 1;
}

.message-item-unread {
  width: 10px;
  height: 100%;
}

.unread {
  background: #37a2fe;
}

.cell-message-info {
  flex: 1 0;
}

.message-item-title {
  float: left;
  padding: 7px 0 0 10px;
  max-width: 200px;
  /* background: gold; */
}

.message-item-option {
  float: right;
  padding: 4px 10px 0 0;
}

.message-item-sender {
  float: left;
  clear: left;
  padding: 0 0 0 10px;
  font-size: 12px;
}

.message-item-time {
  float: right;
  font-size: 12px;
  padding: 0 10px 0 0;
}

/* =Main Content
-----------------------------------------------------------------------------*/

.message-detail {
  flex: 75;
  display: flex;
  flex-direction: column;
}

.cell-detail-info {
  flex: 0 1;
}

.cell-detail-main {
  flex: 1 0;
}

/* message detail info
****************************************/

.detail-info {
  min-height: 100px;
  max-height: 100px;
  background: #fff;
}

.detail-info>div {
  display: inline-block;
}

.detail-avatar {
  float: left;
  height: 60px;
  width: 60px;
  margin: 20px;
}

.detail-info-container {
  float: left;
  width: 200px;
  height: 60px;
}

.detail-sender {
  float: left;
  margin: 25px 0 0;
}

.detail-time {
  float: left;
  /*margin: 60px 0 0 -162px;*/
  /* 基于相对sender右边的定位 */
  margin: 15px 0 0;
  /* 基于sender上下关系的定位 */
}

.detail-delete-bar {
  float: right;
  display: flex !important;
  margin: 30px 80px;
  color: #37a2fe;
}

.detail-delete-icon {
  height: 30px;
  width: 30px;
}

.detail-delete-text {
  flex: 1;
  /* height: 30px; */
  font-size: 23px;
  margin: 0 10px;
}

/* message detail main
****************************************/

.detail-main {
  height: 100%;
  padding: 20px 50px;
  background: #e4e8ec;
  overflow-y: auto;
}

[data-message-detail="title"] {
  text-align: center;
  padding: 0 0 10px;
}

[data-message-detail="content"]>p {
  /* margin: 10px 0; */
  line-height: 2em;
}

.para-indent {
  text-indent: 2em;
}

/* =Secondary Content
-----------------------------------------------------------------------------*/