.signList {
  display: block;
  height: 35px;
  color: black;
  padding-left: 200px;
  margin-top: 70px;
  z-index: 1;
}

.checkedSign, .uncheckedSign {
  display: block;
  float: left;
  height: 25px;
  width: 100px;
  padding-top: 10px;
  border: 1px solid white;
  border-radius: 5px;
  margin-top: 5px;
}

.checkedSign {
  box-shadow: 3px -1px 1px rgba(0, 0, 0, 0.3);
}

.uncheckedSign {
  margin-left: 10px;
  padding-top: 5px;
}

/******************************************************************************/

.normalForm {
  height: 320px;
  box-sizing: border-box;
  border-radius: 5px;
  margin-top: 6px;
  padding: 30px 100px;
  box-shadow: 3px 3px 4px rgba(0, 0, 0, 0.3);
  z-index: 1000;
}

.verifyText {
  width: 120px;
}

.verifySend {
  width: 120px;
  margin-left: 9px;
}
