<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>轮播图</title>
  <link rel="stylesheet" href="../stylesheets/nivo-slider.css">
  <!-- <link rel="stylesheet" href="./stylesheets/index.css"> -->

  <script src="../javascripts/jquery-3.2.1.min.js" charset="utf-8"></script>
  <script src="../javascripts/jquery.nivo.slider.js" charset="utf-8"></script>
</head>
<body>
  <div class="slider-wrapper mtw">
    <div id="slider" class="nivoSlider">
      <a href="" class="nivo-imageLink">
        <img src="../images/slide1.png" alt="First slide">
      </a>
      <a href="" class="nivo-imageLink">
        <img src="../images/slide2.jpg" alt="Second slide">
      </a>
    </div>
  </div>

  <script>
  $('#slider').nivoSlider({
    effect: 'boxRandom', // 效果
    animSpeed: 500, // 动画速度
    pauseTime: 3000, // 暂停时间
    slices: 10, // 分为10列
  });
  </script>
</body>
</html>
