<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>页脚</title>
  <link rel="stylesheet" href="../stylesheets/CLUB.css" type="text/css" />
</head>

<body>
  <!--这个是头部-->
  <div class="headBox">
    <div class="title">

      <embed src="../images/title.svg" class="titlePic" type="image/svg+xml" pluginspage="http://www.adobe.com/svg/viewer/install/"
      /> 校社联·信息管理系统
    </div>
  </div>
  <div class="topHead">
    校社联
  </div>
  <div class="sd" onclick="javascript:window.open('../clubCenter.html');">
    </a>
  </div>
</body>

</html>