<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>页脚</title>
 <link rel="stylesheet" href="../stylesheets/center.css" type="text/css" />
</head>
<body>
      <div class="leftSide">
            <img src="../images/left.png" class="leftPic" >


             <!--这个是左边的大标题-->
             <div class="Left">
             <a href="../clubCenter.html" id="ha" class="ha">社团中心</a>
             <a href="" id="ha1" class="ha">用户反馈</a>
             <a href="" id="ha2" class="ha">关于系统</a>
            
             </div>


        
               </div>


</body>
</html>

   