<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>普通注册</title>
  <link rel="stylesheet" href="./stylesheets/index.css">
  <link rel="stylesheet" href="./stylesheets/normal_sign_up.css">
</head>
<body>
  <section>
    <ul class="signList wpu ta">
      <li class="checkedSign wtbg">普通注册</li>
      <li class="uncheckedSign wtbg">社团注册</li>
    </ul>
    <form class="normalForm wpu wtbg" action="" method="post">
      <input type="email" name="email" placeholder="邮箱" class="email">
      <div class="emailTips"></div>
      <input type="text" name="" placeholder="验证码" class="verifyText">
      <input type="button" name="" value="发送验证码" class="verifySend">
      <div class="verifyTips"></div>
      <input type="password" name="" placeholder="密码" class="pw">
      <input type="password" name="" placeholder="确认密码" class="repw">
      <div class="passwordTips"></div>
      <!-- <input type="submit" name="" value="注册" class="signButton"> -->
      <input type="button" name="" value="注册" class="signButton">
    </form>
  </section>
</body>
</html>
